watchdog-4.0/trunk/latka-scratch/src/distribution/tests/dtds/latka/suite.ent

<!-- entities -->
<!ENTITY % standardValidations.ent SYSTEM "standardValidations.ent">
%standardValidations.ent;

<!-- validations and custom tests
     alter this file to add new custom tests -->
<!ENTITY % tests.ent SYSTEM "tests.ent">
%tests.ent;

<!ELEMENT suite ( (session | request | reportMessage)+ )>
<!ATTLIST suite defaultHost  CDATA #IMPLIED
                defaultPort  CDATA #IMPLIED
                defaultProxyHost    CDATA #IMPLIED
                defaultProxyPort    CDATA #IMPLIED
                label        CDATA #IMPLIED>
                
<!-- prints out a message to the log generated by the test -->
<!ELEMENT reportMessage EMPTY>
<!ATTLIST reportMessage message CDATA #REQUIRED>

<!ELEMENT session ( (request | reportMessage)+)>
<!-- tests that use the same session_id share the same environment -->
<!ATTLIST session sessionId CDATA #IMPLIED
                  label      CDATA #IMPLIED>

<!-- request bodies are ONLY legal for the post method -->
<!ELEMENT request (credentials?, requestHeader*, (param* | requestBody), validate?)>
<!ATTLIST request path   CDATA          #REQUIRED
                  method (post | get | head)   "get"
                  secure (true | false) "false"
                  host   CDATA          #IMPLIED
                  port   CDATA          #IMPLIED
                  proxyHost CDATA       #IMPLIED
                  proxyPort CDATA       #IMPLIED
                  label  CDATA          #IMPLIED
                  followRedirects (true | false) "true"
                  version (1.1 | 1.0) "1.1">

<!ELEMENT credentials EMPTY>
<!ATTLIST credentials userName CDATA #REQUIRED
                      password CDATA #REQUIRED>

<!ELEMENT requestHeader EMPTY>
<!ATTLIST requestHeader headerName  CDATA #REQUIRED
                        headerValue CDATA #IMPLIED>

<!ELEMENT param (paramName, paramValue)>

<!ELEMENT paramName (#PCDATA)>

<!ELEMENT paramValue (#PCDATA)>

<!-- 
   manually construct a text body for the request
   request bodies are ONLY legal for the post method 
-->
<!ELEMENT requestBody (#PCDATA)>

<!ELEMENT validate ( (%tests; %custom-tests;)+ )>