container/catalina/trunk/webapps/manager/status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by peter lin (consultant) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="connectorType">
		<xs:sequence>
			<xs:element name="threadInfo" type="threadInfoType"/>
			<xs:element name="requestInfo" type="requestInfoType"/>
			<xs:element name="workers" type="workersType"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="jvmType">
		<xs:sequence>
			<xs:element name="memory" type="memoryType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="memoryType">
		<xs:attribute name="free" type="xs:long" use="required"/>
		<xs:attribute name="total" type="xs:long" use="required"/>
		<xs:attribute name="max" type="xs:long" use="required"/>
	</xs:complexType>
	<xs:complexType name="requestInfoType">
		<xs:attribute name="maxTime" type="xs:long" use="required"/>
		<xs:attribute name="processingTime" type="xs:int" use="required"/>
		<xs:attribute name="requestCount" type="xs:long" use="required"/>
		<xs:attribute name="errorCount" type="xs:long" use="required"/>
		<xs:attribute name="bytesReceived" type="xs:long" use="required"/>
		<xs:attribute name="bytesSent" type="xs:long" use="required"/>
	</xs:complexType>
	<xs:element name="status">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="jvm" type="jvmType"/>
				<xs:element name="connector" type="connectorType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="threadInfoType">
		<xs:attribute name="maxThreads" type="xs:int" use="required"/>
		<xs:attribute name="minSpareThreads" type="xs:int" use="required"/>
		<xs:attribute name="maxSpareThreads" type="xs:int" use="required"/>
		<xs:attribute name="currentThreadCount" type="xs:int" use="required"/>
		<xs:attribute name="currentThreadsBusy" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="workerType">
		<xs:attribute name="stage" type="xs:string" use="required"/>
		<xs:attribute name="time" type="xs:string" use="required"/>
		<xs:attribute name="requestBytesSent" type="xs:long" use="required"/>
		<xs:attribute name="requestBytesRecieved" type="xs:long" use="required"/>
		<xs:attribute name="remoteAddr" type="xs:string" use="required"/>
		<xs:attribute name="virtualHost" type="xs:string" use="required"/>
		<xs:attribute name="method" type="xs:string" use="required"/>
		<xs:attribute name="currentUri" type="xs:string" use="required"/>
		<xs:attribute name="currentQueryString" type="xs:string" use="required"/>
		<xs:attribute name="protocol" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="workersType">
		<xs:sequence>
			<xs:element name="worker" type="workerType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
